@font-face {
  font-family: 'Poppins';
  src:
    url('./Poppins/Poppins-Thin.woff') format('woff'),
    url('./Poppins//Poppins-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('./Poppins/Poppins-ExtraLight.woff') format('woff'),
    url('./Poppins//Poppins-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('./Poppins/Poppins-Light.woff') format('woff'),
    url('./Poppins//Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('./Poppins/Poppins-Regular.woff') format('woff'),
    url('./Poppins//Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('./Poppins/Poppins-Medium.woff') format('woff'),
    url('./Poppins//Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('./Poppins/Poppins-SemiBold.woff') format('woff'),
    url('./Poppins//Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('./Poppins/Poppins-Bold.woff') format('woff'),
    url('./Poppins//Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('./Poppins/Poppins-ExtraBold.woff') format('woff'),
    url('./Poppins//Poppins-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('./Poppins/Poppins-Black.woff') format('woff'),
    url('./Poppins//Poppins-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src:
    url('./Poppins/Poppins-Italic.woff') format('woff'),
    url('./Poppins//Poppins-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
