/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

* {
  font-family: "Poppins", serif;
}

.main-container {
  background-color: #B2C8DF;
  padding: 16px 24px;
}

.card-container {
  border-radius: 8px;
  background-color: white;
  border: 1px solid #e3e6e8;
  overflow: hidden;
  padding: 24px 32px;
  &__title {
    font-size: 20px;
    font-weight: 400;
    color: rgb(var(--v-theme-primary));
    padding: 24px 0;
    &:nth-child(1) {
      padding-top: 0;
    }
  }
}


.error {
  color: #D94302;
}

.input-search-320 {
  width: 320px;
  max-width: 320px;
}
